body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(133deg, blue, rgb(1, 1, 41), rgb(0, 0, 0));
    background-size: cover;
    height: 100%;
    width: 100vh;
 }

.logo a{

    color: rgb(222, 237, 250);
    font-size: 3rem;
    font-weight: bold;
    line-height: 70px;
    margin: 0 20rem;
    margin-left: -1.3rem;
    text-decoration: none;
}

.logo:hover a{
    color: #33f7f7;
}

nav {
    display: inline-flex;
    margin-top: -6rem;
    margin-left: 0rem;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0px 6%;
    position: fixed;
    backdrop-filter: blur(15px);
    border-bottom: 3px solid  rgba(240, 255, 255, 0.09);
    z-index: 1;
}

ul {
    list-style: none;
    margin-right: -7rem;
}

ul a {
    text-decoration: none;
}
  
nav ul {
    display: flex;
    margin-left: 19rem;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 11px;
    margin-right: 1.5rem;
    padding: 0px 27px;
    display: flex;
    font-size: 21px;
    font-weight: 600;
    color: #d6fdfd;
}

nav ul li a:hover,.main-text a:hover {
    background: rgba(240, 255, 255, 0.163);
    border-radius: 3px;
    color: #fff;
    transition: 0.2s;
}

.heading{
    border-bottom: 3px solid #d6fdfde7;
    height: 6rem;
    width: 44rem;
    margin-top: 6rem;
    margin-left: 13rem;
}

.heading h1{
    color: #d6fdfd;
    font-size: 5rem;
    margin-top: 0.5rem;
    /*margin-top: 7rem;
    margin-left: 40rem;*/
}

.headingSec{
    border: 3px solid #d6fdfd00;
    height: 4rem;
    width: 49rem;
    margin-top: 4rem;
    margin-left: 13rem;
}

.headingSec h2{
    color: #d6fdfd;
    font-size: 2rem;
    margin-top: 0.5rem;
    width: 70rem;
    /*margin-top: 7rem;
    margin-left: 40rem;*/
}

.box1{
    margin-top: -1rem;
    margin-left: 77rem;
    width: 270px;
    height: 297px;
    padding: 2rem 1rem;
    border-left: 3px solid #00ffff;
    position: relative;
    display:flex;
    align-items: flex-end;
}

.text1{
    color: #d6fdfd;
    font-size: 30px;
}

.headingSec2{
    border: 3px solid #d6fdfd00;
    height: 4rem;
    width: 43rem;
    margin-top: 24rem;
    margin-left: 35rem;
}

.headingSec2 h2{
    color: #d6fdfd;
    font-size: 2rem;
    margin-top: 0.5rem;
    width: 70rem;
    /*margin-top: 7rem;
    margin-left: 40rem;*/
}

.box2{
    margin-top: 11rem;
    margin-left: 8rem;
    width: 270px;
    height: 290px;
    padding: 0rem 1rem;
    border-left: 3px solid #00ffff;
    position: relative;
    display:flex;
    align-items: flex-end;
}

.text2{
    color: #d6fdfd;
    font-size: 27px;
}

span{
    color: #33f7f7;
    font-size: 70px;
    margin-top: 2rem;
    margin-left: 11rem;
}

span:hover{
    font-size: 77px;
    cursor: pointer;
    transition: 0.5s all;
}

.barColour {
    fill: lightskyblue;
}

/*.dataBlog{
    border-bottom: 3px solid rgba(255, 255, 255, 0.389);
    border-left: 3px solid rgba(255, 255, 255, 0.389);
    height: 25rem;
    width: 47rem;
    margin-top: -1rem;
    margin-left: 13rem;
}*/

/*#dataBlock{
    border: 3px solid rgba(255, 255, 255, 0.389);
    height: 16rem;
    width: 30rem;
    margin-top: -24rem;
    margin-left: 60rem;
}

#dataBlock p{
    color: #d6fdfd;
    font-size: 2rem;
}

.headingThir{
    border: 3px solid #d6fdfd00;
    height: 4rem;
    width: 19rem;
    margin-top: 16rem;
    margin-left: 50rem;
}

.headingThir h2{
    color: #d6fdfd;
    font-size: 2rem;
    margin-top: 0.5rem;
    /*margin-top: 7rem;
    margin-left: 40rem;
}

.dataBlog2{
    border-bottom: 3px solid rgba(170, 251, 29, 0.788);
    border-left: 3px solid rgba(255, 255, 255, 0.389);
    height: 25rem;
    width: 34rem;
    margin-top: -1rem;
    margin-left: 50rem;
}

#dataBlock2{
    border: 3px solid rgba(255, 255, 255, 0.389);
    height: 15rem;
    width: 30rem;
    margin-top: -24rem;
    margin-left: 13rem;
}

#dataBlock2 p{
    color: #d6fdfd;
    font-size: 2rem;
}*/


.bottomNav1{
    color: #d6fdfd;
    margin-top: 0rem; 
    display: inline-flex;
}

.button{
    color: #d6fdfd;
    display: inline-flex;
    margin-left: 2rem;
}

.button:hover{
    text-decoration-line: underline;
}