body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(133deg, blue, rgb(1, 1, 41), rgb(0, 0, 0));
    background-size: cover;
    height: 100%;
    width: 100vh;
 }

.logo a{

    color: rgb(222, 237, 250);
    font-size: 3rem;
    font-weight: bold;
    line-height: 70px;
    margin: 0 20rem;
    margin-left: -1.3rem;
    text-decoration: none;
}

.logo:hover a{
    color: #33f7f7;
}

nav {
    display: inline-flex;
    margin-top: -7rem;
    margin-left: 0rem;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0px 6%;
    position: fixed;
    backdrop-filter: blur(15px);
    border-bottom: 3px solid  rgba(240, 255, 255, 0.09);
    z-index: 1;
}

ul {
    list-style: none;
    margin-right: -7rem;
}

ul a {
    text-decoration: none;
}
  
nav ul {
    display: flex;
    margin-left: 27rem;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 11px;
    margin-right: 1.5rem;
    padding: 0px 27px;
    display: flex;
    font-size: 21px;
    font-weight: 600;
    color: #d6fdfd;
}

nav ul li a:hover,.main-text a:hover {
    background: rgba(240, 255, 255, 0.163);
    border-radius: 3px;
    color: #fff;
    transition: 0.2s;
}

.heading{
    border-bottom: 3px solid #d6fdfde7;
    height: 6rem;
    width: 35rem;
    margin-top: 7rem;
    margin-left: 13rem;
}

.heading h1{
    color: #d6fdfd;
    font-size: 5rem;
    margin-top: 0.5rem;
    /*margin-top: 7rem;
    margin-left: 40rem;*/
}

/*Heading Wireframes*/
.headingSec{
    border: 3px solid #d6fdfd00;
    height: 4rem;
    width: 49rem;
    margin-top: 4rem;
    margin-left: 13rem;
}

.headingSec h2{
    color: #d6fdfd;
    font-size: 2rem;
    margin-top: 0.5rem;
    /*margin-top: 7rem;
    margin-left: 40rem;*/
}

.dataBlog{
    border: 3px solid rgba(255, 255, 255, 0);
    height: 235rem;
    width: 70rem;
    margin-top: -2rem;
    margin-left: 13rem;
}

#para1{
    color: #d6fdfd;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#para1 img {
    height: 36rem;
    width: 32rem;
    margin-top: 1rem;
}

.origi2{
    height: 36rem;
    width: 32rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

#para2{
    color: #d6fdfd;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#para3{
    margin-top: 3rem;
    color: #d6fdfd;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#para3 img {
    height: 34rem;
    width: 52rem;
    margin-top: 1rem;
    margin-left: 0rem;
}

#para4{
    margin-top: 3rem;
    color: #d6fdfd;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#para5{
    margin-top: 3rem;
    color: #d6fdfd;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#para5 a{
    color: #d6fdfd;
}

button:hover{
    background: black;
    color: white;
    cursor: pointer;
}

#para6{
    margin-top: 3rem;
    color: #d6fdfd;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#para6 img {
    height: 30rem;
    width: 51rem;
    margin-top: 1rem;
    margin-left: 0rem;
}

.dataBlog2{
    border: 3px solid rgba(255, 255, 255, 0);
    height: 40rem;
    width: 70rem;
    margin-top: -2rem;
    margin-left: 13rem;
}

#piece1{
    color: #d6fdfd;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#piece2{
    color: #d6fdfd;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#piece3{
    color: #d6fdfd;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#piece4{
    color: #d6fdfd;
    font-size: 17px;
    margin-top: 3rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.colour {
    height: 20rem;
    width: 30rem;
    margin-top: -0.5rem;
    margin-left: 0rem;
}

/*Heading Revised Wireframes*/
.headingSec1{
    border: 3px solid #d6fdfd00;
    height: 4rem;
    width: 49rem;
    margin-top: 9rem;
    margin-left: 13rem;
}

.headingSec1 h2{
    color: #d6fdfd;
    font-size: 2rem;
    margin-top: 0.5rem;
    /*margin-top: 7rem;
    margin-left: 40rem;*/
}

#sec1{
    color: #d6fdfd;
    font-size: 17px;
    margin-top: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.revised1{
    height: 34rem;
    width: 52rem;
    margin-top: 1rem;
    margin-left: 0rem;
}

.revised2{
    height: 34rem;
    width: 52rem;
    margin-top: 1rem;
    margin-left: 0rem;
}

/*Heading Revised styleguide*/
.headingSec2{
    border: 3px solid #d6fdfd00;
    height: 4rem;
    width: 49rem;
    margin-top: -86rem;
    margin-left: 13rem;
}

.headingSec2 h2{
    color: #d6fdfd;
    font-size: 2rem;
    margin-top: 0rem;
    /*margin-top: 7rem;
    margin-left: 40rem;*/
}

.dataBlog3{
    border: 3px solid rgba(255, 255, 255, 0);
    height: 40rem;
    width: 70rem;
    margin-top: 0rem;
    margin-left: 13rem;
}

#piece11 {
    color: #d6fdfd;
    font-size: 17px;
    margin-top: 0rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*div white div block for Planning documentation for DV*/
.block{
    border: 3px solid rgba(255, 255, 255, 0.799);
    height: 180rem;
    width: 70rem;
    margin-top: 0rem;
    margin-left: 13rem;
}

/*paragraphs for planning documentation for data visualisation*/
#doc0{
    color: #d6fdfd;
    font-size: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#doc1{
    color: #d6fdfd;
    font-size: 16.8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#doc2{
    color: #d6fdfd;
    font-size: 17px;
    margin-top: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#doc3{
    color: #d6fdfd;
    font-size: 17px;
    margin-top: 4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.interactive1{
    height: 30rem;
    width: 45rem;
    margin-top: 1rem;
    margin-left: 0rem;
}

.bottomNav1{
    color: #d6fdfd;
    margin-top: 120rem; 
    display: inline-flex;
}

.button{
    color: #d6fdfd;
    display: inline-flex;
    margin-left: 2rem;
}

.button:hover{
    text-decoration-line: underline;
}