body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(133deg, blue, rgb(1, 1, 41), rgb(0, 0, 0));
    background-size: cover;
    height: 100%;
    width: 100vh;
 }

.logo a{

    color: rgb(222, 237, 250);
    font-size: 3rem;
    font-weight: bold;
    line-height: 70px;
    margin: 0 20rem;
    margin-left: -1.3rem;
    text-decoration: none;
}

.logo:hover a{
    color: #33f7f7;
}

nav {
    display: inline-flex;
    margin-top: -7rem;
    margin-left: 0rem;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0px 6%;
    position: fixed;
    backdrop-filter: blur(15px);
    border-bottom: 3px solid  rgba(240, 255, 255, 0.09);
    z-index: 1;
}

ul {
    list-style: none;
    margin-right: -7rem;
}

ul a {
    text-decoration: none;
}
  
nav ul {
    display: flex;
    margin-left: 29rem;
}

nav ul li a {
    height: 40px;
    line-height: 43px;
    margin: 11px;
    margin-right: 1.5rem;
    padding: 0px 27px;
    display: flex;
    font-size: 21px;
    font-weight: 600;
    color: #d6fdfd;
}

nav ul li a:hover,.main-text a:hover {
    background: rgba(240, 255, 255, 0.163);
    border-radius: 3px;
    color: #fff;
    transition: 0.2s;
}

.imageContainer{
    border: 1px solid;
    height: 31rem;
    width: 61rem;
    background-size: cover;
    margin-left: 4rem;
    margin-top: 7rem;
}

.heading{
    height: 20rem;
    width: 27rem;
    border: 1px solid rgba(245, 222, 179, 0);
    margin-top: -20.1rem;
    margin-left: 17.5rem;
}

.heading h1{
    color: #d6fdfd;
    font-size: 8.5rem;
    margin-top: 10.5rem;
}

.button1{
    height: 31rem;
    width: 24rem;
    border: 1px solid rgba(245, 222, 179, 0);
    margin-top: -31rem;
    margin-left: 69rem;
}

#blog a{
    text-decoration: none;
    color: #d6fdfd;
}

#blog {
    background: #d6fdfd00;
    height: 3.5rem;
    width: 10rem;
    font-size: 3rem;
    padding: 0.9rem;
    padding-top: 0.8rem;
    padding-left: 3.4rem;
    margin-top: 0rem;
    margin-left: 4rem;
    border-radius: 3px;
}

#blog:hover{
    background: rgba(240, 255, 255, 0.163);
    border-radius: 3px;
    color: #fff;
    transition: 0.2s;
}

#design a{
    text-decoration: none;
    color: #d6fdfd;
}

#design {
    background: #d6fdfd00;
    height: 4rem;
    width: 13rem;
    font-size: 3rem;
    padding: 0.9rem;
    padding-top: 0.8rem;
    padding-left: 3rem;
    margin-top: 2.5rem;
    margin-left: 4rem;
    border-radius: 3px;
}

#design:hover{
    background: rgba(240, 255, 255, 0.163);
    border-radius: 3px;
    color: #fff;
    transition: 0.2s;
}



.bottomNav1{
    color: #d6fdfd;
    margin-top: 3.85rem; 
    display: inline-flex;
}

.button{
    color: #d6fdfd;
    display: inline-flex;
    margin-left: 2rem;
}

.button:hover{
    text-decoration-line: underline;
}